<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackUniverse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylestabla.css') }}">

</head>
<body>
    <div class="table-container">
        <h1>GESTION DE ARCHIVOS</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre archivo</th>
                    <th>Contenido del archivo</th>
                    <th>Contenido encriptado</th>
                    <th>Algoritmo de Cifrado</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in archivos %} <!---Recorre cada registro de archivo en la lista archivos y genera una fila (<tr>) para cada uno.-->
                    <form action="/modificar" method="POST">
                        <input type="hidden" name="id" value="{{ dato['_id'] }}"> <!--Envía el ID del archivo para que identifiquemos cuál se está modificando-->
                        <td><input type="text" name="fileName" value="{{ dato['file_name'] }}"></td><!---campo para editar el nombre-->
                        <td>
                            <input type="text" name="fileContent" id="fileContent-{{ dato['_id'] }}" value="{{ dato['file_bruto'] }}"
                                   oninput="compararContenido('{{ dato['_id'] }}')">
                        </td>
                        <td><input type="text" name="originalHash" id="originalHash-{{ dato['_id'] }}" value="{{ dato['file_content'] }}"></td>
                        <td>
                        <select name="encryptionAlgorithm" id="encryptionAlgorithm">
                        <option value="SHA128">SHA128</option>
                            <option value="SHA256">SHA256</option>
                         <option value="SHA512">SHA512</option>
                        </select>
                        </td>
                        <td>
                            <button type="submit" name="action" value="modificar">Modificar</button>
                        </td>
                    </form>
                    <form action="/eliminar" method="POST">
                        <input type="hidden" name="id" value="{{ dato['_id'] }}">
                        <td>
                            <button type="submit" name="action" value="eliminar">Eliminar</button>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="centered-button">
        <form action='/regresar'>
            <button type="submit">Regresar</button>
        </form>
    </div>

</body>
</html>
