<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackUniverse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesindex.css') }}">
</head>
<body>
      <div class="container">
        <h1>Bienvenido a HackUniverse</h1>
        <div class="buttons">
            <a href="{{ url_for('registro') }}" class="btn">Registrarse</a>
            <a href="{{ url_for('iniciar') }}" class="btn">Iniciar sesión</a>
        </div>
    </div>

</body>
</html>